[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["curl -LsSf https://astral.sh/uv/install.sh | sh", "uv sync --locked --no-dev"]

[phases.build]
cmds = ["uv run python backend/manage.py collectstatic --noinput"]

[start]
cmd = "cd backend && uv run python manage.py migrate && uv run gunicorn core.wsgi --bind 0.0.0.0:$PORT"
