[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["curl -LsSf https://astral.sh/uv/install.sh | sh && source $HOME/.cargo/env", "uv sync --frozen --no-dev"]

[start]
cmd = "source $HOME/.cargo/env && cd backend && uv run python manage.py migrate && uv run python manage.py collectstatic --noinput && uv run gunicorn core.wsgi --bind 0.0.0.0:$PORT"
