[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["python -m pip install --upgrade pip", "python -m pip install -e . --no-cache-dir"]

[start]
cmd = "cd backend && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn core.wsgi --bind 0.0.0.0:$PORT"
